/* Nav Bar */

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navbar-light .navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
    background-color: #4aaaa5;
    color: #fff;
}

a {
    padding: 20 8px;
    background-color: #fff;
    color: #4aaaa5;
    text-decoration: none;
}

href, a:hover, a:visited, a:active, a:focus{
    padding:none;
    text-decoration: none;
    color:#4aaaa5;
    background-color:#fff;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    text-decoration: none;
    color:#fff;
}

.clearfix {
    overflow: auto;
}
#navbar-nav {
    float: right;
    margin-top: 15px;
}
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    border-bottom: 2px solid #ccc;
    display: block;
    padding: 0px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='74 170 165 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(74, 170, 165, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler{
    border-color: #4aaaa5;
    background-color:#fff;
}
.navbar-toggler-icon{
    width:1.2em;
}

/* Body CSS */

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
    color:#4aaaa5;
    border-bottom: 3px solid #ccc;
    padding-bottom: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../images/circles-light/circles-light.png);
    padding: 40px;
    color: #777;
    overflow-y: auto;
    margin-bottom: 60px;
}

p{
    line-height: 1.5;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    height: auto;
    width: 920px;
    padding: 20 20 40 20px;
    margin: auto;
}

section{
    width:200px;
    height:200px;
    display: inline;
}

img {
    height: 200px;
    width: 200px;
    margin: 5 5 5 0px;
}

input {
    margin: 5 5 5 0px;
    width: 870px;
}
textarea{
    resize: vertical;
    text-rendering: auto;
    font: 400 13.3333px Arial;
    text-align: start;
    text-transform: none;
    word-spacing: normal;
    letter-spacing: normal;
    text-indent: 0px;
    display: inline-block;
}
button{
    color: #fff;
    background-color: #4aaaa5;
    padding: 10px;
    width: 50px;
}

/* Footer CSS */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 5px solid #4aaaa5;;
    background-color: #666;
    color: #fff;
    text-align: center;
    padding: 20 20 10 20px;
    font-size: 10px;
}